body{
    background-color: gold;
}
h1{
  color: azure;
  background-color: black;
  text-align: center; 
}
h3{
    color: azure;
  background-color: black;
  text-align: center; 
}
p{
    color: azure;
    background-color: black;
    text-align: center;   
}
img{
   border-radius: 50%;
   width: 300px;
   height
}